<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes!</title>
</head>

<body>
    <nav style="position: fixed; left:25%">
        <form class="cupcakes-form">
            <input class="flavor" type="text" placeholder='flavor' required>
            <input class="rating" type="number" placeholder= 'rating' step=".1" required>
            <input class="size" type="text" placeholder= 'size'required>
            <input class="image-url"type="url" placeholder="image url">
            <button class="submit" type="submit">CREATE CUPCAKE</button>
    </nav>
    <h1>Cupcakes!</h1>
    <ul class="cupcakes"></ul>
    </form>
    <script src="static/jquery.js"></script>
    <script src="static/axios.js"></script>
    <script src="static/script.js"></script>
</body>

</html>